#include <ntverp.h>
#include <windows.h>
#include "plnmgr2.h"

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     APP_NAME
#define VER_PRODUCTNAME_STR         APP_NAME
#define VER_INTERNALNAME_STR        "plnmgr2.exe"
#define VER_ORIGINALFILENAME_STR    "plnmgr2.exe"
#define VER_VERSION_TRANSLATION     0x0412, 0x04B0
#define VER_LEGALCOPYRIGHT_STR      "없음"

#include "common.ver"

LANGUAGE LANG_KOREAN, SUBLANG_KOREAN

iddMain DIALOGEX 0, 0, 466, 320
STYLE DS_SETFONT | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION APP_NAME
FONT 9, "굴림", 0, 0, 0x0
BEGIN
	/* 수첩 */
	CONTROL        IDC_NOTEBOOK_BMP, 	IDC_NOTEBOOKBITMAP, 		STATIC, 				SS_BITMAP, 0, 0, 816, 544
	CONTROL        "일정 >",	 		IDC_GOTOPLANNER, 			BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 255, 69, 17
	CONTROL        "일기 >", 			IDC_GOTODIARY, 				BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 222, 69, 17
	CONTROL 		"타이머 >", 		IDC_GOTOTIMER, 				BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 190, 69, 17 
	
	/* 달력 */
	CONTROL        "", 				IDC_MONTHCALENDAR, 			"SysMonthCal32", 		WS_TABSTOP, 13, 24, 120, 100, WS_EX_TRANSPARENT | WS_EX_CLIENTEDGE
	CONTROL 		"<<", 				IDC_PREVYEAR, 				BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 128, 23, 14 
	CONTROL 		"1996년", 			IDC_YEAR, 					STATIC, 				SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 131, 67, 8 
	CONTROL 		">>", 				IDC_NEXTYEAR, 				BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 128, 23, 14 
	CONTROL 		"<<", 				IDC_PREVMONTH, 				BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 145, 23, 14 
	CONTROL 		"7월", 				IDC_MONTH, 					STATIC, 				SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 148, 67, 8 
	CONTROL 		">>", 				IDC_NEXTMONTH, 				BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 145, 23, 14 
	
	/* 일기장 */
	CONTROL        "어제", 			IDC_YESTERDAY, 				STATIC, 				SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 190, 25, 62, 10, WS_EX_TRANSPARENT
	CONTROL        "오늘", 			IDC_TODAY, 					STATIC, 				SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 346, 25, 62, 10, WS_EX_TRANSPARENT
	CONTROL        "날씨(&W): ", 		IDC_WEATHER1, 				STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 43, 32, 10 
    CONTROL        "", 				IDC_WEATHERYESTERDAY, 		COMBOBOX, 				CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 193, 42, 93, 53 
	CONTROL        "날씨(&E): ", 		IDC_WEATHER2, 				STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 314, 43, 32, 10 
    CONTROL        "", 				IDC_WEATHERTODAY, 			COMBOBOX, 				CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  349, 42, 93, 53
	CONTROL        "", 				IDC_DIARYYESTERDAY, 		EDIT, 					ES_LEFT | ES_AUTOVSCROLL | ES_WANTRETURN | ES_MULTILINE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 158, 64, 129, 206 
    CONTROL        "", 				IDC_DIARYTODAY, 			EDIT, 					ES_LEFT | ES_AUTOVSCROLL | ES_WANTRETURN | ES_MULTILINE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 314, 64, 129, 206 
	
	/* 일정표 */
	CONTROL        "", 				IDC_PLANLIST, 				LISTBOX, 				LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 159, 42, 125, 195 
	PUSHBUTTON    	"새 일정(&N)", 		IDC_ADDPLAN, 				159, 253, 50, 14, 		WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON    	"삭제(&D)", 		IDC_DELETEPLAN, 			215, 253, 50, 14, 		WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL        "제목(&T):", 		IDC_PLANNERLABEL1, 			STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 319, 47, 37, 9 
	CONTROL        "", 				IDC_PLANTITLE, 				EDIT, 					ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 328, 59, 118, 13 
	CONTROL        "시작 시간(&S):", 	IDC_PLANNERLABEL2, 			STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 319, 80, 57, 8 
	CONTROL        "", 				IDC_PLANSTART, 				EDIT, 					ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 328, 91, 118, 13 
	CONTROL        "종료 시간(&E):", 	IDC_PLANNERLABEL3, 			STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 319, 111, 57, 8 
	CONTROL        "", 				IDC_PLANEND, 				EDIT, 					ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 328, 123, 118, 13 
	CONTROL        "장소(&L):", 		IDC_PLANNERLABEL4, 			STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 319, 146, 57, 8 
	CONTROL        "", 				IDC_PLANLOCATION, 			EDIT, 					ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 328, 158, 118, 13 
	CONTROL        "중요도(&I):", 		IDC_PLANNERLABEL5, 			STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 319, 179, 57, 8 
	CONTROL        "", 				IDC_PLANIMPORTANCE, 		EDIT, 					ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 328, 191, 33, 13 
	CONTROL        "", 				IDC_PLANIMPORTANCEUPDOWN, 	"msctls_updown32", 		WS_CHILD | WS_VISIBLE | WS_TABSTOP, 364, 192, 10, 11
	CONTROL        "메모(&M):", 		IDC_PLANNERLABEL6, 			STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 319, 211, 57, 8 
	CONTROL        "", 				IDC_PLANNOTES, 				EDIT, 					ES_LEFT | ES_AUTOVSCROLL | ES_WANTRETURN | ES_MULTILINE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 328, 223, 118, 36
	PUSHBUTTON    	"저장(&A)", 		IDC_SAVEPLAN, 				337, 266, 50, 14, 		WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON    	"지우기(&R)", 		IDC_RESETPLANFIELD, 		394, 266, 50, 14, 		WS_CHILD | WS_VISIBLE | WS_TABSTOP
	
	/* 타이머 */
	CONTROL 		"", 				IDC_TIMERPROGRESS , 		"msctls_progress32", 	WS_CHILD | WS_VISIBLE, 321, 213, 83, 11
	CONTROL 		"0:00:00", 			IDC_TIMERINDICATOR, 		STATIC, 				SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 404, 215, 34, 8 
	CONTROL		"내용(&O): ", 		IDC_TIMERNOTESLABEL,		STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 321, 87, 32, 9
	CONTROL 		"", 				IDC_TIMERNOTES,				EDIT, 					ES_LEFT | WS_CHILD | WS_VISIBLE | ES_AUTOVSCROLL | ES_WANTRETURN | ES_MULTILINE | WS_BORDER | WS_TABSTOP, 332, 99, 109, 59
	CONTROL 		"이름(&N): ",		IDC_TIMERNAMELABEL,			STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 321, 45, 32, 9
	CONTROL 		"", 				IDC_TIMERNAME, 				EDIT, 					ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 332, 56, 109, 14
	CONTROL 		"시간(&I):", 		IDC_TIMERTIMELABEL,			STATIC, 				SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 321, 178, 32, 8 
	CONTROL		"0", 				IDC_TIMERHOURSEDIT, 		EDIT, 					ES_RIGHT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 332, 190, 21, 14 
	CONTROL 		"", 				IDC_HOURUPDOWN,				"msctls_updown32", 		WS_CHILD | WS_VISIBLE | WS_TABSTOP, 353, 189, 10, 16 
	CONTROL 		"0", 				IDC_TIMERMINUTESEDIT, 		EDIT, 					ES_RIGHT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 367, 190, 21, 14 
	CONTROL 		"", 				IDC_MINUTEUPDOWN, 			"msctls_updown32", 		WS_CHILD | WS_VISIBLE | WS_TABSTOP, 387, 189, 10, 16 
	CONTROL 		"0", 				IDC_TIMERSECONDSEDIT, 		EDIT, 					ES_RIGHT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 402, 190, 21, 14 
	CONTROL 		"", 				IDC_SECONDUPDOWN, 			"msctls_updown32", 		WS_CHILD | WS_VISIBLE | WS_TABSTOP, 422, 189, 10, 16
	CONTROL 		"시작(&T)", 		IDC_STARTTIMER, 			BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 335, 249, 50, 14 
	CONTROL 		"중지(&P)", 		IDC_STOPTIMER, 				BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 335, 266, 50, 14 
	CONTROL 		"저장(&R)", 		IDC_CREATETIMER, 			BUTTON, 				BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 390, 249, 50, 14 
	CONTROL        "", 				IDC_TIMERLIST, 				LISTBOX, 				LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 159, 42, 125, 235
	
	/* 쪽수 */
	PUSHBUTTON    	"<<", 				IDC_GOTOYESTERDAY, 			166, 292, 35, 14, 		WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON    	">>", 				IDC_GOTOTOMORROW, 			406, 292, 35, 14, 		BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL        "1/1", 				IDC_PAGEINDICATOR, 			STATIC, 				SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 205, 294, 198, 11 
END

ID_ICON_MAIN		ICON  	plnmgr2.ico

IDC_NOTEBOOK_BMP 	BITMAP notebook.bmp
IDC_PLANNER_BMP 	BITMAP planner.bmp
IDC_TIMER_BMP	 	BITMAP drtimer.bmp